@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  background-color: #0a0b35 !important;
}
* {
  font-family: "Roboto";
}

iframe {
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("./pages/VStaking/vstaking.css");
